{% extends 'base.html.twig' %}
{% block title %}Početna{%endblock%}
{% block body %}
  <h1 >Dobrodošli na početnu stranicu!</h1>
  <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
  <div class="card-header">Informacije</div>
  <div class="card-body">
    <h4 class="card-title">Za studente:</h4>
    <p class="card-text">Mentority je sustav upravljanja upisom kolegija tijekom pohađanja fakulteta. Registracijom stvarate račun.Nakon toga sljedi
    prijava. Ulaskom u aplikaciju imate mogućnost pregleda svog upisnog lista i mjenjanjem.</P>
<p>  RISE ABOVE, FOCUSE ON SCIENCE!</p>
  </div>
</div>
{% endblock %}
